
.jumbotron{
  background-color:#CE1141;
  color:white;
}
h1{
  font-family:'merriweather', serif;
}
h2{
  font-family:'PT Sans', serif;
  color:#CE1141;
}
th{
  font-family:'PT Sans', serif;
}
tr{
  font-family:'PT Sans', serif;
}
